@page "/JsRun"
@inject IJSRuntime JS

<button @onclick="getHello">Click</button>
<p>@text</p>
<div id="qrcode"></div>

@code {
    private IJSObjectReference? module;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/JavaScriptRun.razor.js");
        }
    }

    private string text { get; set; }

    private async Task getHello()
    {
        text = await module.InvokeAsync<string>("createQRCode");
    }
}